.layout {
  margin: 0;
  padding: 0;
  display: flex;
  height: inherit;
}

.left-panel {
  position: relative;
  display: inline-block;
  width: 350px;
  height: inherit;
}

.right-panel {
  background-color: rgb(94, 94, 94);
  display: inline-block;
  height: inherit;
  width: calc(100% - 350px);
}