.serch-wrapper {
    padding: 8px 0;
    display: flex;
    justify-content: center;
    position: fixed;
    top:0;
    left: 0;
    right: calc(100% - 350px);
}
.img {
    margin-top: 5px;
    margin-left: 10px;
    height: 1.1rem;
    width: 1.1rem;
}

.img-container {
    background-color: #fff;
    margin: 5px 0px 5px 5px;
    display: inline-block;
    border-radius: 5px 0px 0px 5px;
}
.input-container {
    margin:  5px 5px 5px 0;
    display: inline-block;
}
.input-container input{
    color: rgb(80, 74, 74);
    border: 0px;
    border-radius: 0px 5px 5px 0px;
    outline: none;
    line-height: 1.7rem;
    font-size: 1.2rem;
    text-indent: 10px;
}